
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ChapterContent</title>
</head>
<body>
   


</body>
</html>
<script type="text/javascript">
    @Model
</script>
