
@using Pentagon.Models;
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ListTutorials</title>
</head>
<body>
       

    <h1>Hello</h1>
    


</body>
</html>
<script type="text/javascript">
    //alert(@Model);
</script>

