



<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ListChapter</title>
</head>
<body>
   


</body>
</html>
<script type="text/javascript">
    //alert(@Model);
</script>
